<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>需要发送通知以提醒您保持专注和正确坐姿。</string>
	<key>NSUserNotificationsAlertStyle</key>
	<string>alert</string>
</dict>
</plist>
